<div class="big-grid">
  <div class="footer-image">
    <h4>Organic Shop SRB</h4>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis nesciunt
      at maxime illo doloribus distinctio.
    </p>
  </div>
  <div class="footer-deatils">
    <div class="details-grid">
      <div class="detail">
        <p>Informacije</p>
        <a routerLink="/">Ko smo mi?</a>
        <a routerLink="/">Privatnost</a>
      </div>
      <div class="detail">
        <p>Proudžbine</p>
        <a routerLink="/">Poruči odmah</a>
        <a routerLink="/">Informacije</a>
      </div>
      <div class="detail">
        <p>Tvoj Nalog</p>
        <a routerLink="/">Moj profil</a>
        <a routerLink="/">Korpa </a>
      </div>
      <div class="detail">
        <p>Pomoć</p>
        <a routerLink="/">Česta pitanja</a>
        <a routerLink="/">Postavi pitanje</a>
      </div>
    </div>
    <hr />

    <div class="contact-details">
      <p>Kontakt Informacije</p>
      <ul>
        <li>
          <i class="fas fa-home"></i
          ><span>Adresa: Jalijska 2, 24c, Sremska Mitrovica</span>
        </li>
        <li>
          <i class="fas fa-envelope"></i>
          <span>Email: prodavnica@organicshopsrb.rs</span>
        </li>
        <li>
          <i class="fas fa-phone-alt"></i><span>Telefon: +381-64-1315-524</span>
        </li>
      </ul>
    </div>
  </div>
</div>
