@use "sass:math";
@import "../../scss/vars";
@import "../../scss/mixins";
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: $color-background;
  color: $color-dark;
  padding: 30px 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 2px 18px -10px rgba($color: #000000, $alpha: 1);
  .toggleBtn {
    margin: 5px 0 0 5px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    font-size: $font-size-lg;
    color: $color-main;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    background-color: rgba($color-main, 0.3);
    border-radius: $base-border-radius * 10;
    display: none;
    box-shadow: 1px 2px 18px -10px rgba($color: #000000, $alpha: 1);
    i {
      display: block;
    }
  }

  ul {
    font-size: $font-size-lg;
    display: flex;
    list-style: none;
    li {
      margin-right: 30px;
      transition: all 0.3s;
      a {
        transition: all 0.3s;
        &.active {
          color: $color-main;
          text-decoration: underline;
        }
        &:hover {
          color: $color-main;
        }
      }
    }
  }
  .shopping-bag {
    font-size: $font-size-lg;
    position: relative;
    .shopping-bag-count {
      position: absolute;
      bottom: 0;
      right: 0;
      background-color: $color-main;
      color: $color-text;
      width: 20px;
      height: 20px;
      transform: translate(50%, 50%);
      border-radius: $base-border-radius * 10;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: $font-size-normal * 0.8;
      font-weight: 700;
    }
  }
  form {
    font-size: $font-size-lg;
    color: $color-gray;
    i {
      margin-right: 10px;
    }
    input {
      max-width: 200px;
      font-size: $font-size-lg;
      color: $color-dark;
      display: inline-block;
      border: none;
      padding: $base-padding * 0.5;
      border-bottom: 2px solid transparent;
      transition: all 0.3s;
      &:focus {
        outline: none;
        border-color: $color-main;
      }
    }
  }
}

@include md {
  nav {
    padding: 30px;
    .toggleBtn {
      display: inline-block;
    }
    ul {
      position: absolute;

      padding: 0 30px;
      max-height: 0;
      overflow: hidden;
      left: 0;
      top: 100%;
      width: 100%;
      background-color: $color-background;
      font-size: $font-size-lg;
      display: block;
      list-style: none;
      transition: all 0.3s ease-in;
      &.active {
        max-height: 200px;
      }
      li {
        margin: $base-margin 0;
      }
    }
  }
}
