@use "sass:math";
@import "../../scss/vars";
@import "../../scss/mixins";
.my {
  margin: 100px auto;
}
.product-card {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 50px;
  .image-col {
    position: relative;
    .image-wrapper {
      position: sticky;
      top: 139px;
      padding: 150px 50px;
      border-radius: $base-border-radius;
      background-color: rgba($color-main, 0.3);
      box-shadow: 1px 2px 18px -10px rgba($color: #000000, $alpha: 1);
    }
    img {
      width: 100%;
      height: auto;
    }
  }
}
@include md {
  .my {
    margin: 163px auto;
  }
  .product-card {
    grid-template-columns: 1fr;
  }
}
