@use "sass:math";
@import "../scss/vars";
@import "../scss/mixins";
.hero-section {
  min-height: 110vh;
  background-image: url("../assets/hero.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 100px;

  nav {
    position: relative;
    background-color: $color-background;
    color: $color-dark;
    padding: 30px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    .logo-circle {
      color: $color-main;
      height: 210px;
      width: 210px;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: $font-size-xxl;
      border-radius: $base-border-radius * 10;
      background-color: $color-background;
      left: 50%;
      transform: translateX(-50%);
    }
    ul {
      font-size: $font-size-lg;
      display: flex;
      list-style: none;
      li {
        margin-right: 30px;
        transition: all 0.3s;
        .active {
          color: $color-main;
          text-decoration: underline;
        }
        &:hover {
          color: $color-main;
        }
      }
    }

    form {
      font-size: $font-size-lg;
      color: $color-gray;
      i {
        margin-right: 10px;
      }
      input {
        max-width: 200px;
        font-size: $font-size-lg;
        color: $color-dark;
        display: inline-block;
        border: none;
        padding: math.div($base-padding, 2);
        border-bottom: 2px solid transparent;
        transition: all 0.3s;
        &:focus {
          outline: none;
          border-color: $color-main;
        }
      }
    }
  }
  h1 {
    margin-top: 200px;
    margin-bottom: 10px;
    text-align: center;
    font-size: $font-size-xxl * 2;
    font-family: $font-secodary;
    font-weight: normal;
    color: $color-text;
  }
  div {
    span {
      text-align: center;
      font-size: $font-size-xl;
      color: $color-main;
      width: 300px;
      background-color: $color-background;
      clip-path: polygon(
        0 0,
        10% 50%,
        0 100%,
        49% 100%,
        100% 100%,
        90% 50%,
        100% 0,
        51% 0
      );
    }
  }
  p {
    font-size: $font-size-lg;
    width: 75%;
    margin: 30px auto 0;
    text-align: center;
    color: $color-text;
  }
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 $base-padding * 2;
}
.product-section {
  .container {
    h2,
    p {
      text-align: center;
    }
    h2 {
      font-weight: normal;
      font-size: $font-size-xxl;
      margin-bottom: 20px;
    }
    p {
      color: $color-gray;
    }
  }
}
.about-us-section {
  margin: 100px 0;
  #bl {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
  }
  #bl2-1 {
    padding: $base-padding;
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    transform: rotate(-30deg);
  }
  #bl2-2 {
    padding: $base-padding;
    width: 300px;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: rotate(30deg);
  }
  .about-us-box {
    position: relative;
    background-color: $color-secondary;
    padding: $base-padding * 3;
    padding-bottom: $base-padding * 15;
    h3 {
      text-align: center;
      font-size: $font-size-xl;
      margin-bottom: $base-margin * 2;
    }
    .boxes-grid {
      width: 80%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      .box {
        padding: $base-padding * 2;
        h4 {
          font-family: $font-secodary;
          font-size: $font-size-xl * 0.8;
          font-weight: normal;
        }
      }
      .box-left {
        text-align: right;
      }
      #first-box {
        border-bottom: dotted 3px $color-dark;
        border-right: dotted 3px $color-dark;
      }
      #second-box {
        border-bottom: dotted 3px $color-dark;
      }
      #third-box {
        border-right: dotted 3px $color-dark;
      }
    }
  }
}
.details-section {
  margin: 100px 0;

  .details-container {
    display: grid;
    grid-template-columns: 350px 1fr;
    gap: 100px;
    .details-links {
      list-style: none;
      border-right: 2px solid $color-dark;
      li {
        cursor: pointer;
        button {
          cursor: pointer;
          display: inline-block;
          margin: 20px 50px;
          padding: 10px 30px;
          border-radius: $base-border-radius * 10;
          border: 0;
          background-color: transparent;
          font-size: $font-size-lg;
          font-family: $font-secodary;
          transition: all 0.3s;
        }
        i {
          transition: all 0.3s;
        }
        &.active {
          button {
            background-color: $color-main;
            color: $color-text;
          }
          i {
            color: $color-main;
          }
        }
      }
    }
  }
}
@include lg {
  .hero-section {
    nav {
      .logo-circle {
        display: none;
      }
    }
    h1 {
      margin-top: 150px;
    }
  }
}
@include md {
  .hero-section {
    h1 {
      margin-top: 150px;
    }
  }
}
@include sm {
  .hero-section {
    h1 {
      margin-top: 100px;
    }
  }
}
