@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@400;500;600&display=swap");

$font-main: "Poppins", sans-serif;
$font-secodary: "Pacifico", cursive;
$color-background: #fff;
$color-text: #fff;
$color-main: #5eb485;
$color-danger: #b45e5e;
$color-secondary: #f0da70;
$color-dark: #1c1c1c;
$color-gray: #9a9a9a;

$base-padding: 1em;
$base-margin: 1em;
$base-border-radius: 1em;

$font-size-xxl: 3em;
$font-size-xl: 2em;
$font-size-lg: 1.2em;
$font-size-normal: 1em;
